* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter";
    color: white;
}
html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: "Inter";
}


/* loader-start */

a {
    text-decoration: none;
}

.loader {
    background-color: #090909;
    height: 100%;
    width: 100%;
    position: fixed;
    /* not affected by scrolling, fixed where it is */
    z-index: 999;
    /* Overlapping elements with a larger z-index cover those with a smaller one. */
    padding: 20vh 7vw;
    font-size: 7vw;
    font-weight: 450;
    line-height: 7.5vw;
}


.line {
    overflow: hidden;
    /* helps to hide the gsap.from y:150 below the line div, it is coming from below but not visible */
}
.first {
    padding: 0vh 16vw;
}
/* fixing position of now */
.loader div:nth-child(3) {
    display: flex; 
}
.now {
    margin-left: 4vw;
    
}

.numbers {
    padding: 5vh 38vw;
    font-size: 2vw;
    display: flex;
    font-weight: 500;
}
.start {
    font-family: 'Unna';
    color:pink;
   

}
.end {
    font-family: 'Unna';
}




/* loader-complete */

.crsr {
    height: 2.5vw;
    width: 2.5vw;
    border: 2px solid rgba(255, 255, 255, 0.537);
    z-index: 400;
    position: fixed;
    border-radius: 50%;
    display: none;
}

.topline {
    height: 1vw;
    width: 100vw;
    position: fixed;
    z-index: 500;
    background: linear-gradient(to right,rgb(233, 233, 147),rgb(253, 121, 143));
}

.main {
    position: relative;
    /* background-color: white; */
    overflow: hidden;;
    background-color: #151515;
    /* always add this to prevent extra margin */
}

.page1 {
    background-color: white;
    height: 100vh;
    width: 100vw;;
}
.nav {
    height: 20vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 55% 20% ;
    /* border-bottom: 2px solid white; */
    border-radius: 0%;
    overflow: hidden;
}


.name {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-self: center;

}
.wew {
    font-size:1.9vw;
    font-family: "Playfair Display";
    font-style: italic;
}


.title {
    grid-row: 1;
    grid-column: 2;
}
.other {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding-right:3vw;
    font-size: 1.2vw;
}


.bigtext {
    height: 80vh;
    width:100vw;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 75% ;
    
}



/* .bigtext div{
    overflow: hidden;
} */
.bigline {
    overflow: hidden;
}
.right div:nth-child(2){
       font-family: "Playfair Display ";
       font-style: italic;
    -webkit-text-stroke: 1px white;
    color:transparent;

}
.right div:nth-child(4){
    font-family: "Playfair Display ";
    font-style: italic;
 -webkit-text-stroke: 1px white;
 color:transparent;
}
.left {
    font-size: 4vw;
    font-family: "Playfair Display";
    font-style: italic;
    text-align: end;
    padding: 4.5vw;
    border-right: 2px solid white;;
    
    /* margin-top: 80px;
    margin-bottom: 30px; */
}
.right {

    font-size: 6.5vw;
    text-align: left;
    padding: 5vw;
    font-weight: 450;
}

.right div:nth-child(3) {
    display: flex;
       
}
.webdev {
    color:pink;
    font-family:;
    font-weight: 600;
    display: flex;
}


.other div {
    font-family: "DM Sans";
}
.page2 {
    width:100vw;
    height:100vh; 
    background-color: #151515;   
}
.drops {
    position:absolute;
    left: 24.25vw;
  
}
.drop {
    color: pink;
    font-size: 5vw;
}
.video {
    border: 2px solid snow;
    height:70vh;
    width:60vw;
    position: relative;
    display: flex;
    left: 35vw;
    top: 15vh;
    object-fit: cover;
}
video {
    height: 100%;
    width: 100%;
    object-fit: ;
}
.page3 {
    width: 100vw;
    background-color: #151515;
}
.heading-bar {
    height: 270px;
    display: flex;
    margin-bottom: 18vw;
}
.left1 {
    width:30vw;
    height:100%;
    font-size: 4vw;
    font-family: "Playfair Display";
    font-style: italic;
    text-align: end;
    padding-right: 9.5vw;
}
.right1 {
    width:70vw;
    height:100%;
    font-weight: 450;
    font-size: 8vw;
    text-align: left;
    /* padding:; */
    padding-bottom: 0px;
    margin-right: 8vw;
    font-family: "DM Sans";
    letter-spacing: 0.25vw;
    font-weight: 520;
    border-bottom: 2px solid white;

}

/* .flexes div {
    border: 1px solid white;
} */


.webdev img {
    height: 100px;
    width: 100px;
}


.linkto {
     text-align: center;
     font-style: italic;
}



/* .flexes div {
    border: 1px solid white;
} */

.flexes {
    height:330vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 13%;
    justify-content: space-evenly;
    gap: .5vh;
}
.elem1 {
    display: flex ;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3 ;
    grid-row: 1 / 3;
    object-fit: cover;
    border: 1px solid white;;

}

img {
    padding:1vw;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.elem2 {
    display: flex ;
    justify-content: center;
    align-items: center;
    grid-column: 3 ;
    grid-row: 2 / 4;
    border:none
}

.buttona {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    border: 1px solid white;

}

.buttonarrow {
    height: 7vw;
    width: 7vw;
    object-fit: cover;
}
.rotate {
    rotate: -35deg;
}
.rotate1 {
    rotate: 35deg;
}

.elem3 {
    display: flex ;
    justify-content: center;
    align-items: center;
    grid-column: 1  ;
    grid-row: 4 / 6;
    border-radius: 50%;

}
.elem4 {
    display: flex ;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4 ;
    grid-row: 4 / 6;
    border: 1px solid white;
}
.elem5 {
    display: flex ;
    justify-content: center;
    align-items: center;
    grid-column: 1  ;
    grid-row: 7 / 9;
    border: 1px solid white;

}
.elem6 {
    display: flex ;
    justify-content: center;
    align-items: center;
    grid-column:  3 / 4 ;
    grid-row: 6 / 8;
    border-radius: 50%;

}
.elem7 {
    border: 1px solid white;
    display: flex ;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4 ;
    grid-row: 8 / 10;
}
























.about-text {
    padding-top:5vw;
    width: 100vw;
    height: 50vh;
    display:flex; 
    align-items: center;
    justify-content: center;

}
.circletext {
    width:5vw;
    height:10vh;
    border:3px solid wheat;
    border-radius: 50%;
    left: 5vw;
    position: absolute;
    rotate: -20deg;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    font-family: "Unna";
    color:wheat;

}
.empty {
    width:43%;
    height: 100%;
}
.heading-bar1 {
    height: 200px;
    display: flex;
    margin-top: 4vw;
}
.text u {
    font-family: "Inter";
    font-size: 1.5vw;
    color:pink;
    font-style: italic;
    overflow: hidden;
}
/* .moving div {
    padding: 0px;
    border: 1px solid white;
} */
.moving {
    height: 100vh;
    width: 100%;;
}
.toptext {
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 2vw;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 13%;
    margin-top: 3vw;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.moving1 {
    /* margin-top: 1vh; */
    /* margin-bottom: 1vh; */
    height: 20%;
    white-space: nowrap;
    /* for displaying inlines outside the page */
    /* overflow-x: auto; */
}
.moving1 p {
    display: inline-block;
    font-size: 8vw;
    -webkit-text-stroke: 1px white;
    color: transparent;
    animation-name: lefts;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}


.moving2 {
    /* margin-top: 1vh; */
    /* margin-bottom: 1vh; */
    height: 20%;
    white-space: nowrap;
    /* for displaying inlines outside the page */
    /* overflow-x: auto; */
}
.moving2 p {
    display: inline-block;
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    color: transparent;
    animation-name: rights;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}






.italics {
    font-family: "Playfair Display";
    font-size: 7vw;
    font-style: italic;
    -webkit-text-stroke: 1px pink;
    color: transparent;
}


@keyframes lefts {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes rights {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


.theline {
    height:4vh;
    width:100vw;
    background: linear-gradient(to right,rgb(233, 233, 147),rgb(253, 121, 143));
    /* background: linear-gradient(90deg, #0052ff, #ce46bd, #7fd057, #ff9533); */
}

.boxy {
    width: 105vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.connect {
    height: 70% ;
    width: 40%;
    border-bottom: 1px solid white;
}
.mail {
    height: 70%;
    width: 20%;
    margin-right: 13vw;
    border-bottom: 1px solid white;

}

.heady {
    height: fit-content;
    font-size: 2.1vw;
    margin-bottom:4vw;
    
    /* font-style: italic; */
    /* font-family: "DM Sans"; */
}
.remarks {
    height: 35vw;
    text-align: center;
    width:100vw;
    font-family: "DM Sans";
    font-style: italic;
    font-size: 2vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: ;
}

.socials {
    margin-bottom: 0.3vw;
    font-size: 1.2vw;
    margin-left: 0.1vw;
}
.symbols {
    color:pink;
}
